@use "../abstracts" as *;

// .flex-group {
//   display: flex;
//   flex-wrap: wrap;
//   column-gap: var(--flex-column-gap, $flex-group-gap);
//   row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
//   width: fit-content;
// }

// .flex-group.mx-auto {
//   justify-content: center;
// }

.flex-group {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
