@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;
  border: 0;
  border-radius: size(24);
  font-weight: $fw-500;
  font-size: fs(500);
  padding: 1.125em 10.472em;
  transition: 275ms ease;

  &[data-type="normal"] {
    background-color: clr(primary, 900);
    color: clr(neutral, 100);
  }

  // &[data-type="outline"] {
  //   --outline-size: 5px;
  //   background: transparent;
  //   outline: var(--outline-size) solid clr(neutral, 100);
  //   outline-offset: calc(var(--outline-size) * -1);
  //   color: clr(neutral, 100);
  // }

  &:is(:hover, :focus) {
    background: (rgba((clr(primary, 900)), 0.5));
    color: clr(neutral, 100);
  }
}
