@use "../abstracts" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 900);
  background-color: clr(neutral, 400);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(calc(100% - 2rem), 100%);
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  @include mq(small, $type: max) {
    justify-content: unset;
    overflow-y: visible;
  }

  @include mq(medium, large, $type: between) {
    justify-content: unset;
    overflow-y: visible;
  }
}

main {
  width: min(calc(100% - 10rem), 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  @include mq(small, $type: max) {
    flex-direction: column;
    width: min(calc(100% - 2rem), 65ch);
  }
}
