$colors: (
  neutral: (
    900: #000000,
    800: #313e51,
    700: #3b4d66,
    600: #626c7f,
    500: #abc1e1,
    400: #f4f6fa,
    100: #ffffff,
  ),
  primary: (
    900: #a729f5,
    600: #26d782,
    300: #ee5454,
  ),
);
