$ff-sans: "Rubik", sans-serif;
$ff-serif: "Abril Fatface", serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: 9rem,
  800: 4rem,
  600: 2.25rem,
  500: 1.75rem,
  400: 1rem,
  200: 0.75rem,
);

$fw-400: 400;
$fw-400_ita: italic;
$fw-500: 500;
